body {
    background-color: rgb(253, 255, 162);
}

h1 {
    color:black;
    font-family:'Courier New', Courier, monospace;
    border: 2px solid black;
    border-radius: 3px;
    background-color:#ff2929;
    padding: 500 px;
    text-align: center;
   
     
}

h2 {
    text-align: center;
}

h3{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   background-color: black;
   font-size:large;
   text-align: center;
   border: 2px solid black;
   color: #ff2929;
   padding: 40px;
  


}
h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:x-large;
    color:rgb(0, 0, 0);
    text-align:center;
}
ol {
    font-family:'Times New Roman', Times, serif;
    color:#302f2f;
    text-align:center;
    list-style-position: inside;
}
p {
    color: #333;
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size:larger;
}

a{
    color: #ffffff;
    border: 2px solid #302f2f; 
    border-radius: 10px; 
    display: inline-block; 
    width: 300px; 
    text-align: center; 
    padding: 10px; 
    text-decoration: none; 
    background-color:#302f2f;
    font-family:'Courier New', Courier, monospace
    
}

a:hover{
    color:#ff2929;
}


/* Container for the list */
ul {
    list-style-type: none; 
    padding: 20px; /* 
    background-color: #302f2f; 
    border: 2px solid #ff2e2e; 
    border-radius: 10px; 
    width: 300px; 
    margin: 0 auto; 
}

/* Styling for the list items */
ul li {
    padding: 10px 0; 
    text-align: center; 
}

/* Styling for the links */
ul li a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 18px; 
    display: block; 


ul li a:hover {
    color: #ff2929; 
}
